*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.idea/
/sample_test_hrm_result.txt
/sample_test_scanning_result.txt
/scan_ble_device_result.txt
/scan_connect_disconnect_ble_device_result.txt
